{% load static %}
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title></title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Library Member Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Style --> <link rel="stylesheet" href="{% static '/form/css/style.css' %}" type="text/css" media="all">

	<!-- Fonts -->
		<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<div class="container2"><img src="{% static 'form/images/tripsy.png' %}" class="img-responsive"></div>

	<div class="container w3layouts agileits">

		<div class="login w3layouts agileits">
			<h2>Entre!</h2>
			<form action="/dash/home" method="post">{% csrf_token %}
				{{form2.as_p}}
				<div class="send-button w3layouts agileits">
					<input type="submit" value="Entrar">
			</div>
			</form>
			<ul class="tick w3layouts agileits">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Lembrar</label>
				</li>
			</ul>
			
			<a href="#">Esqueceu sua Senha?</a>
			<div class="social-icons w3layouts agileits">
				<p>- Ou Logue-se com o Facebook-</p>
				<ul>
					<li><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Facebook</span></a></li>
					<li class="twt w3ls"><a href="#"><span class="icons w3layouts"></span><span class="text w3layouts agileits">Twitter</span></a></li>
					<li class="ggp aits"><a href="#"><span class="icons agileits"></span><span class="text w3layouts agileits">Google+</span></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div class="register w3layouts agileits">
			<h2>Cadastre-se</h2>
			<form action="/dash/primeiros_passos" method="post">{% csrf_token %}
				{{form.as_p}}

				<div class="send-button w3layouts agileits">
					<input type="submit" value="Cadastrar">
				</div>
			</form>
			
			<p>Ao criar sua conta, você aceita nossos <a class="underline w3layouts agileits" href="#">Termos</a></p>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>

	</div>

	<div class="footer w3layouts agileits">
		<p> &copy; 2016 Todos os Direitos Reservados.</p>
	</div>

</body>
<!-- //Body -->

</html>